.navy {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.head_left, .main {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.head_right {
    display: flex;
    gap: 16px;
}

.head_right, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}